/* bibliotecarioForm*/

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}
h2 {
    color: #005f73; 
    text-align: center;
}
div {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: calc(100% - 10px);
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: #005f73; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}
button:hover {
    background-color: #0a9396; 
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #005f73; 
    color: white;
}
tbody tr:nth-child(odd) {
    background-color: #e0f7fa; 
}

/* login*/



form {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}




input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[id="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


button {
    width: 100%;
    background-color: #005f73; 
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}



/* menu*/




div {
    text-align: center;
    margin-top: 20px;
}

button {
    width: 200px;
    height: 50px;
    background-color: #005f73; 
    color: #fff;
    padding: 12px 24px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}



/* form student*/



form {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}



input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: calc(100% - 16px);
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #005f73; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0a9396; 
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #005f73; 
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}
